<div class="text-center">
  <h1>ユーザー情報管理</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= paginate @users %>
    <% @users.each do |user| %>
      <div><%= link_to user.name, user %></div>
    <% end %>
    <%= paginate @users %>
    <%= link_to '新規ユーザー登録', new_user_path, class: 'btn btn-info btn-block' %>
  </div>
</div>